body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    background-color: white;
    border: solid 2px #666;
    width: 75px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    padding-top: 30px;
    border-radius: 5px;
}


#cardChooser .card {
    position: relative; 
    display: inline-block;
    margin-right: -38px;
    margin-bottom: 15px;
    z-index: 0;
    cursor: pointer;
}

#cardChooser .card.selected {
    background-color: #00ff90;
    top: -10px;
    z-index: 1000;
}

#cardChooser .card:hover {
    z-index: 2000;
    top: -10px;
    background-color: yellow;
}

#selectedCards .selectedCardContainer {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px;
}

#selectedCards .selectedCardContainer.currentPlayer {
    background-color: pink;
}

#selectedCards .noCardChosen {
    background-color: #eee;
}

#selectedCards .cardChosen {
    background-color: #b4fbac;
}

#actionButtons .btn {
    width: 125px;
}