body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}






#cardChooser .card {
    position: relative; 
    display: inline-block;
    background-color: white;
    border: solid 2px #666;
    width: 75px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    padding-top: 30px;
    margin-right: -38px;
    margin-bottom: 15px;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
}

#cardChooser .card.selected {
    background-color: #00ff90;
    top: -10px;
    z-index: 1000;
}

#cardChooser .card:hover {
    z-index: 2000;
    top: -10px;
    background-color: yellow;
}

