body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    background-color: #B4D8E7;
    border: solid 2px #666;
    width: 75px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    padding-top: 30px;
    border-radius: 5px;
}


#cardChooser .card {
    position: relative; 
    display: inline-block;
    margin-right: -38px;
    margin-bottom: 15px;
    z-index: 0;
    cursor: pointer;
}



#cardChooser .card:hover {
    z-index: 2000;
    top: -5px;
    background-color: #FFEC94;
}

#cardChooser .card.selected {
    background-color: #B0E57C;
    top: -10px;
    z-index: 1000;
}

#selectedCards .selectedCardContainer {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px;
}

#selectedCards .selectedCardContainer.currentPlayer {
    border: solid 2px #56BAEC;
}

#selectedCards .selectedCard.noneSelected {
    background-color: #FFAEAE;
}

#selectedCards .noCardChosen {
    background-color: #ddd;
}

#selectedCards .cardChosen {
    background-color: #B0E57C;
}

#actionButtons .btn {
    width: 125px;
}