@{
    ViewBag.Title = "About Bespoker";
}
<h2>@ViewBag.Title.</h2>

<p><strong>Why yet another planning poker app?</strong></p>
<p>I needed a planning poker app that worked with IE8, and all of the other planning poker apps had extra features that I didn't need.  And it gave me an excuse to try out SignalR.</p>

<p><strong>Where do I get the code?</strong></p>
<p>Go to the <a href="https://github.com/RationalGeek/bespoker">Github page</a> for the project.</p>

<p><strong>Who made this thing?</strong></p>
<p>This was made by Justin Kohlhepp.  Check out <a href="http://rationalgeek.com">my personal page</a> for other things related to me.</p>

<hr />
<p>Copyright &copy; Justin Kohlhepp 2014</p>