@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Beskpoker</h1>
    <p class="lead">Open source, simple planning poker app built with ASP.NET MVC and SignalR.</p>
</div>

<form role="form" class="form-inline">
    <div class="form-group">
        @*<label for="sessionName">Session Name</label>*@
        <input type="text" class="form-control" id="sessionName" placeholder="Enter Session Name..."/>
    </div>
        <button class="btn btn-primary" id="joinButton" href="http://go.microsoft.com/fwlink/?LinkId=301865">Create / Join Session</button>
</form>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#joinButton').click(function () {
                var sessionNameInput = $('#sessionName');
                var sessionName = sessionNameInput.val();
                if (!sessionName.length > 0) {
                    sessionNameInput.parent().addClass('has-error');

                    return false;
                }
                sessionNameInput.parent().removeClass('has-error');

                var url = '@Url.RouteUrl("SessionRoute")';
                location.href = url + '/' + encodeURIComponent(sessionName);

                return false;
            });
        });
    </script>
}