@model Bespoker.Web.Models.PokerSessionViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>Poker Session <span data-bind="text: Name"></span></h2>

<p><strong>Players:</strong></p>
<div data-bind="foreach: Players">
    <div data-bind="text: Id"></div>
    <div data-bind="text: Name"></div>
</div>

<h3>Choose Your Card</h3>
<div id="cardChooser">
    <span class="card">0</span>
    <span class="card">&frac12;</span>
    <span class="card">1</span>
    <span class="card">2</span>
    <span class="card">3</span>
    <span class="card">5</span>
    <span class="card">8</span>
    <span class="card">13</span>
    <span class="card">20</span>
    <span class="card">40</span>
    <span class="card">100</span>
    <span class="card">?</span>
    <span class="card">&infin;</span>
</div>

<h3>Selected Cards</h3>
<div id="selectedCards">
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(document).ready(function () {
            var sessionName = '@Model.Name';
            var hub = $.connection.bespokerHub;
            var viewModel = null;

            hub.client.initSession = function (session) {
                // Init viewmodel based on session
                viewModel = ko.mapping.fromJS(session);
                ko.applyBindings(viewModel);
            };

            hub.client.playerJoined = function (player) {
                viewModel.Players.push(ko.mapping.fromJS(player));
            };

            // Initialize connection to SignalR
            $.connection.hub.start().done(function () {
                hub.server.registerForSession(sessionName);
            });

            var cards = $('#cardChooser .card');
            cards.click(function () {
                $(cards).removeClass('selected');
                $(this).addClass('selected');
            });
        });
    </script>
}