@model Bespoker.Web.Models.PokerSessionViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>Planning Poker &ndash; <span data-bind="text: Name"></span></h2>
<p>To invite others, copy the URL in your browser bar and share it with them.</p>
<div id="actionButtons">
    <a id="showCards" class="btn btn-primary" data-bind="visible: !CardsRevealed()">Show Cards</a>
    <a id="hideCards" class="btn btn-primary" data-bind="visible: CardsRevealed()">Hide Cards</a>
    <a id="changeName" class="btn btn-info">Change Name</a>
    <a id="reset" class="btn btn-danger">Reset</a>
</div>

<h3>Choose Your Card</h3>
<div id="cardChooser">
    <span class="card">0</span>
    <span class="card">&frac12;</span>
    <span class="card">1</span>
    <span class="card">2</span>
    <span class="card">3</span>
    <span class="card">5</span>
    <span class="card">8</span>
    <span class="card">13</span>
    <span class="card">20</span>
    <span class="card">40</span>
    <span class="card">100</span>
    <span class="card">?</span>
    <span class="card">&infin;</span>
</div>

<h3>Selected Cards</h3>
<div id="selectedCards" data-bind="foreach: Players">
    <div class="selectedCardContainer" data-bind="css: { currentPlayer: $root.CurrentConnectionId() == ConnectionId() }">
        <div class="playerName">
            <span data-bind="text: Name"></span>
        </div>
        <div class="card selectedCard hidden" data-bind="text: SelectedCard() || 'N/A', css: { hidden: !$root.CardsRevealed(), noneSelected: !SelectedCard() }"></div>
        <div class="card noCardChosen hidden" data-bind="css: { hidden: SelectedCard() || $root.CardsRevealed() }"><span class="glyphicon glyphicon-time"></span></div>
        <div class="card cardChosen hidden" data-bind="css: { hidden: !SelectedCard() || $root.CardsRevealed() }"><span class="glyphicon glyphicon-ok"></span></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bespoker")
    <script>
        bespoker('@Model.Name');
    </script>
}